[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	create = group Android One (seed) Maintainers
	push = group Android One (seed) Maintainers
	pushMerge = group Android One (seed) Maintainers
	label-Code-Review = -2..+2 group Android One (seed) Maintainers
	label-Verified = -1..+1 group Android One (seed) Maintainers
	submit = group Android One (seed) Maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group Android One (seed) Maintainers
