[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	create = group Android One Maintainers
	push = +force group Android One Maintainers
	pushMerge = group Android One Maintainers
	label-Code-Review = -2..+2 group Android One Maintainers
	label-Verified = -1..+1 group Android One Maintainers
	submit = group Android One Maintainers
